<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369247868258-s2gelnv2lssq0m89on0ovbpgai80jlfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369247868258-s2gelnv2lssq0m89on0ovbpgai80jlfr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>868967879600-ugldbtkgc1go6eradejphg3jtror5cpv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJMsKwEPspMhxZ648N_BqygA4VMZb0rGY</string>
	<key>GCM_SENDER_ID</key>
	<string>868967879600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.alreadyapp</string>
	<key>PROJECT_ID</key>
	<string>already-done-app-a3e9a</string>
	<key>STORAGE_BUCKET</key>
	<string>already-done-app-a3e9a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868967879600:ios:faa01b147f0f7aced1bc75</string>
</dict>
</plist>